<body style='margin: 0'>
    <h1>Ultimate Guitar Transposer</h1>
    <form id="form">
        <p style="display:flex">
            <input style="width: 100%;" id="urlInput">
            <input type="number" id="transpose" name="tentacles" min="-12" max="12" value="0" />
            <input type="submit" value="Go" />
        </p>
    </form>
    <p>
        <a id="link" style="display: none;" href=""></a>
    <p>
        <iframe id="iframe" style="display: none;"></iframe>
        <script>
            function go(e) {
                e.preventDefault();
                const iframe = document.getElementById('iframe');
                const l = document.getElementById('link');

                var url = new URL(window.location.href);
                url.pathname = '/tab/' + encodeURIComponent(urlInput.value);
                url.searchParams.append('transpose', transpose.value);

                iframe.src = url.href;
                l.innerText = url.href;
                l.href = url.href;
                l.style.display = 'block'

                // window.location.pathname = encodeURIComponent(urlInput.value)
            }
            function iframeLoaded(e) {
                e.target.style.display = 'block';
                iframeSize(e.target);
            }
            function windowResize(e) {
                iframe = document.getElementById('iframe')
                iframeSize(iframe);
            }
            function iframeSize(target) {
                target.width = (document.body.scrollWidth - 5) + "px";
                target.height = (target.contentWindow.document.body.scrollHeight + 10) + "px";
            }
            document.getElementById('iframe').addEventListener(
                'load',
                iframeLoaded,
            );
            window.addEventListener(
                'submit',
                go
            );
            window.addEventListener(
                'resize',
                windowResize,
            );
        </script>
</body>